<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="apized.spring.sample-server.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.apized.spring.server.Application" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>